.ppb{
    border: 4px solid #8E641E;
    border-radius: 25px;
    width: 200px;
    height: 300px;
    margin-top: 20px;
    
  }
  .titre1{
    color:#192a56;

  }
  .titre{
    color:#192a56;
    margin-top: 20px;
  }